<p> Olá #{name}</p>

<p>Se você esqueceu a sua senha, acesse o link abaixo para recuperar seu e-mail.</p>

<p><a href="#{url}">#{url}</a></p>

<p>Você pode copiar e colar o endereço no seu navegador.</p>

<p>Se você não solicitou esse e-mail, por favor, ignore essa mensagem.</p>

<p>Ferrari Hcode Lab</p>